# ISO paths
iso_path_winserv2025stan=[nwsc_vm_install] Aria Images/Windows/SW_DVD9_Win_Server_STD_CORE_2025_24H2_64Bit_English_DC_STD_MLF_X23-81891.ISO
iso_path_winserv2022stan=[nwsc_vm_install] Aria Images/Windows/SW_DVD9_Win_Server_STD_CORE_2022_2108.39_64Bit_English_DC_STD_MLF_X23-89848.ISO
iso_path_win10pro22h2=[nwsc_vm_install] Aria Images/Windows/SW_DVD9_Win_Pro_10_22H2_64BIT_English_Pro_Ent_EDU_N_MLF_X23-20019.ISO
iso_path_win11pro24h2=[nwsc_vm_install] Aria Images/Windows/SW_DVD9_Win_Pro_11_24H2.1_64BIT_English_Pro_Ent_EDU_N_MLF_X23-88968.ISO

# Desktop settings
desk_cpu_num=2
desk_disk_size=76800
desk_mem_size=4096

# Server settings
serv_cpu_num=4
serv_disk_size=51200
serv_mem_size=8192

# Common settings
vsphere_compute_cluster=NWSC Cluster
vsphere_datastore=nwsc_vm_install
vsphere_dc_name=dc1.vdc.ucar.edu
vsphere_folder=Aria Templates
vsphere_server=vc1.vdc.ucar.edu
vsphere_portgroup_name=NWSC-VMINT-1216
vsphere_user=packersvc@vsphere.local
vsphere_password=<vSphere User Password: https://keepersecurity.com/vault/#detail/iw_Eg2ZSC51QzBkNnO2rzg>
winadmin_password=<Windows Administrator Password>
vm_disk_controller_type=pvscsi